@media (min-width: 50rem) {
    .main {
        max-width: none;
    }
}

@media (min-width: 66.5rem) {
    .side-bar {
        width: 264px;
    }
    .main {
        margin-left: calc(264px + 25px);
    }
}

img {
    max-width: min(100%, 900px);
}